body{
    background-image: url("../disease_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    margin-top: 10px; 
}

.side{
    position:fixed;
    top: 40%;
    left: 4cm;
    height:100%;

}
  
.scroll-area{
    height:14cm; 
    overflow-y:scroll;
}

.table,
.table tr,
.table td {
    background-color: white !important;
}

.btn{
    background-color: rgb(0, 0, 0, 0.3);
}

.brdcr{
    margin-top: 1%;
}