body{
    background-image: url("../disease_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    margin-top: 10px; 
}

.side{
    position:fixed;
    top: 40%;
    left: 10%;
    height:100%;

}
  
.scroll-area{
    width:100%;
    height:calc(70% - 200px);
    overflow-y:scroll;
  }