body{
    background-image: url("../gene_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    margin-top: 10px; 
}

  
.scroll-area{
    height:14cm; 
    overflow-y:scroll;
}

.table,
.table tr,
.table td {
    background-color: white !important;
}

footer{
    color: white !important;
}

.btn{
    background-color: rgb(0, 0, 0, 0.3);
}

.brdcr{
    margin-top: 1%;
}