<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- The css of the page is dinamically set depending on the page requested by the user. Such request is performed in the homepage.
    -->
    {% block content %}
    {% if datatype == 'gene' %}
        <link rel="stylesheet" href="../static/styles/genes.css">
        <title>Genes Dataset</title>
    {% else %}
        <link rel="stylesheet" href="../static/styles/diseases.css">
        <title>Diseases Dataset</title>
    {% endif %}
    {% endblock content %}
  </head>
  <body>      

    <div class="container">
      <div class="row brdcr">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            {% if datatype == 'gene' %}
            <li class="breadcrumb-item active" aria-current="page">Genes</li>
            {% else %}
            <li class="breadcrumb-item active" aria-current="page">Diseases</li>
            {% endif %}
          </ol>
        </nav>    
      </div>
        <div class="row">
            <div class="col-sm mt-3">
                <div class="card">
                    <div class="card-body">
                      <!-- By using the argument passed to the render_template function in the controller.py file we visualise
                           information such as the dataset name, its shape and its labels.
                      -->
                      The dataset <b>{{dataset_name}} </b>has {{shape[1]}} labels and {{shape[0]}} entries. <br> <br>
                      These are the dataset labels: <br>
                      <div class="row">
                      {%for elem in labels%}
                      <div class="col-2">
                        <button type="button" class="btn btn-lg rounded-pill" disabled style="background-color:lightblue"><b>{{elem}}</b></button>
                      </div>
                      {%endfor%}
                      </div>
                      
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <div class="container">
      <div class="row justify-content-start mt-3">
        <div class="col-sm-3">
          <!-- This element shows the unique genees/diseases present in the dataset, to avoid overflowing the page we create a css class
            called 'scroll-area'; we then iterate over the list of entries and show them in a list item.
          -->
          <ul class="list-group scroll-area">
            <li class="list-group-item"><b>{{datatype.capitalize()}} list</b></li>
            {%for elem in entry%}
            <li class="list-group-item">{{elem}}</li>
            {%endfor%}
          </ul>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <!-- This card is in common for both pages as the entries are common, we used a table to organise the data.
              -->
              <h5 class="card-title">10 most common associations</h5>
              <table class="table ">
                <thead>
                  <tr>
                    <th scope="col">Genes</th>
                    <th scope="col">Diseases</th>
                  </tr>
                </thead>
                <tbody>
                  {%for elem in associations%}
                   <tr>
                     <td>{{elem[0]}}</td>
                     <td>{{elem[1]}}</td>
                   </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <!-- Depending on the page the user is using two cards are rendered to allow a user to enter a query.
                    Using an html form and the url_for function we can perform a post request, additionally we tell
                    the flask web_server which operation we want to perform and the data necessary to execute the query
                    The rendered cards depend on the datatype of the page, i.e. the data that the user requested in the homepage.
              -->
              {% if datatype == 'gene' %}
              <h5 class="card-title">Given a gene symbol or
                its ID, this function will provide the list of sentences that are an evidence in literature
                about the relation of this gene with COVID-19 </h5>
              <form action="{{url_for('results', operation='list_of_sentence_gene', datatype = datatype)}}" method="post"> 
              {% else %}
              <h5 class="card-title">Given a disease_name or
                its ID, this function will provide the list of sentences that are an evidence in literature
                about the relation of this disease with COVID-19</h5>
              <form action="{{url_for('results', operation='list_of_sentence_disease', datatype = datatype)}}" method="post"> 
              {% endif %}
                              
                <div class="form-check form-check-inline">
                  {% if datatype == 'gene' %}
                  <input class="form-check-input" type="radio" name="Selection" id="" value="gene_symbol">
                  Gene Symbol
                  {%endif%}
                  {% if datatype == 'disease' %}
                  <input class="form-check-input" type="radio" name="Selection" id="" value="disease_name">
                  Disease Name
                  {%endif%}                        
                </div>

                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    {% if datatype == 'gene' %}
                    <input class="form-check-input" type="radio" name="Selection" id="" value="geneid">
                    Gene Id
                    {%endif%}
                    {% if datatype == 'disease' %}
                    <input class="form-check-input" type="radio" name="Selection" id="" value="diseaseid">
                    Disease Id
                    {%endif%}    
                </div>
                <input type="text" class="form-control" name="user_request" placeholder="" value="{{ request.form['user_request'] }}">

                <button type="submit" class="btn">Submit</button>
              </form>
            </div>
          </div>

          <div class="card mt-5">
            <div class="card-body">
              {% if datatype == 'gene' %}
              <h5 class="card-title">Given a gene symbol or its ID, this function will provide the list of diseases such a gene is associated with</h5>
              <form action="{{url_for('results', operation='list_of_disease', datatype = datatype)}}" method="post"> 
              {% else %}
              <h5 class="card-title">Given a disease_name or its ID, this function will provide the list of genes such a disease is associated with</h5>
              <form action="{{url_for('results', operation='list_of_genes', datatype = datatype)}}" method="post"> 
              {% endif %}
                              
                <div class="form-check form-check-inline">
                  {% if datatype == 'gene' %}
                  <input class="form-check-input" type="radio" name="Selection" id="" value="gene_symbol">
                  Gene Symbol
                  {%endif%}
                  {% if datatype == 'disease' %}
                  <input class="form-check-input" type="radio" name="Selection" id="" value="disease_name">
                  Disease Name
                  {%endif%}                        
                </div>

                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    {% if datatype == 'gene' %}
                    <input class="form-check-input" type="radio" name="Selection" id="" value="geneid">
                    Gene Id
                    {%endif%}
                    {% if datatype == 'disease' %}
                    <input class="form-check-input" type="radio" name="Selection" id="" value="diseaseid">
                    Disease Id
                    {%endif%}    
                </div>
                <input type="text" class="form-control" name="user_request" placeholder="" value="{{ request.form['user_request'] }}">

                <button type="submit" class="btn">Submit</button>
              </form>
            </div>
          </div>
        </div>


        
      </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="text-center p-4" style="background-color:rgba(0, 0, 0, 0.05);">
        G. Broglia, A. Di Meglio, C. Fiorenzani, E. Paganin
      </div>               
  
  
  </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>